*{
    margin: 0;
    padding: 0;
}

#hero{
    height: 101vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(./wallpaperflare.com_wallpaper\(1\).jpg);
}

.logo_text{
    position: absolute;
    color: white;
    left: 11vw;
    top: 29px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 1.5em;
    text-transform: uppercase;
    z-index: 5;
}

.logo_text span{
    color: rgb(151,149,149);
}

#navbar #nav-menu {
    position: absolute;
    left: 48vw;
}

#navbar #nav-menu ul{
    position: absolute;
    display: inline-flex;
    list-style: none;
    padding: 15px;
    font-size: 1.1em;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 5;
}

#navbar #nav-menu ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 12px 19px 0 19px;
}

#navbar #nav-menu ul li a:hover{
    color: rgb(170,169,169);
}

.main-set{
    position: relative;
    background-color: darkgray;
}

.heading{
    position: absolute;
    color: white;
    top: 300px;
    left: 11%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* text-transform: uppercase; */
    transition: ease-out 3s;
    z-index: 2;
}

.heading>h1{
    font-size: 50px;
    margin-bottom: 5px;
    letter-spacing: 8px;
}

.checkbtn img{
    height: 19px;
    color: white;
    cursor: pointer;   
}

#check{
    display: none;
}

/* .heading>h1{
    font-size: 3em;
    letter-spacing: .3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;

} */

.heading p{
    position: absolute;
    font-size: 2.0em;
    line-height: 2.2em;
    letter-spacing: 3px;
    left: 3px;
    z-index: 2;
}

.cta{
    position: absolute;
    padding:9px 35px;
    background-color: transparent;
    list-style: none;
    color: white;
    text-decoration: none;
    border: solid white 1.5px;
    border-radius: 7px;
    margin-top: 90px;
    letter-spacing: 5px;
    left: 0px;
    z-index: 9;
}


.cta:hover{
    background-color: white;
    color: black;
    transition: ease-in .5s;
}

/* media queries */
/* 
@media(max-width : 1390px ){
    
} */